/* Slideshow container */
.slideshow-container {
    max-width: 3000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 41px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slides-img {
    height: 600px !important;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.left {
    float: left;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.grid-message {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.39);

}

.slider-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #fcf7f7;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    font-weight: bold;
    top: 70px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    position: relative;
    top: -60px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #feffcd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(20, 169, 255);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}